@import url("https://fonts.googleapis.com/css2?family=Righteous&family=Roboto:wght@500;700;900&display=swap");
:root {
    --green-100: #eef9bf;
    --green-200: #a7e9af;
    --green-300: #99cea8;
    --green-400: #75b79e;
}

* {
    background-color: var(--green-100);
}

h1 {
    color: var(--green-400);
    font-size: 63px;
    font-family: Roboto;
    margin-bottom: 13px;
    margin-top: 40px;
    text-align: center;
}

.container {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: center;
    align-items: center;
}

.containerCards {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: auto;
}

.flip-card {
    background-color: transparent;
    width: 117px;
    height: 146px;
    margin: 34px;
}

.flip-card-inner {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--green-200);
    position: relative;
    width: 100%;
    height: 100%;
    border: 1px solid var(--green-300);
    border-radius: 5px;
    transition: transform 0.6s;
    transform-style: preserve-3d;
}

.flip-card-inner img {
    width: 100px;
    height: 100px;
    background-color: var(--green-200);
}

.selected .flip-card-inner {
    transform: rotateY(180deg);
}

.flip-card-front,
.flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.flip-card-front {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--green-200);
}

.flip-card-back {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--green-200);
    transform: rotateY(180deg);
}

.row1 {
    display: flex;
    flex-direction: row;
}

.row2 {
    display: flex;
    flex-direction: row;
}

.reed {
    border: 1px solid red;
}

.bluue {
    border: 1px solid blue;
}

@media (max-width: 768px) {
    .row1 {
        flex-direction: column;
    }
    .row2 {
        flex-direction: column;
    }
}